WCFProject_CE125_CE134/StarBus/Bus_host/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Online_Bus_Ticket_Booking" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddBus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBus" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBus_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBus" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBus_NotFoundFoltFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Online_Bus_Ticket_Booking" name="detail" element="q1:NotFoundFolt" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTicket_NotFoundFoltFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Online_Bus_Ticket_Booking" name="detail" element="q2:NotFoundFolt" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPayment" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBus" message="tns:IService1_AddBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBusResponse" message="tns:IService1_AddBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateBus" message="tns:IService1_UpdateBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateBusResponse" message="tns:IService1_UpdateBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBus" message="tns:IService1_DeleteBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBusResponse" message="tns:IService1_DeleteBus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteBusNotFoundFoltFault" name="NotFoundFoltFault" message="tns:IService1_DeleteBus_NotFoundFoltFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBus" message="tns:IService1_GetBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBusResponse" message="tns:IService1_GetBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllBus" message="tns:IService1_GetAllBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllBusResponse" message="tns:IService1_GetAllBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTicket" message="tns:IService1_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTicketResponse" message="tns:IService1_AddTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTicket" message="tns:IService1_UpdateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTicketResponse" message="tns:IService1_UpdateTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTicket" message="tns:IService1_DeleteTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTicketResponse" message="tns:IService1_DeleteTicket_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteTicketNotFoundFoltFault" name="NotFoundFoltFault" message="tns:IService1_DeleteTicket_NotFoundFoltFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTicket" message="tns:IService1_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTicketResponse" message="tns:IService1_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTicket" message="tns:IService1_GetAllTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTicketResponse" message="tns:IService1_GetAllTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCustTicket" message="tns:IService1_GetCustTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCustTicketResponse" message="tns:IService1_GetCustTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPayment" message="tns:IService1_AddPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPaymentResponse" message="tns:IService1_AddPayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBus">
      <soap:operation soapAction="http://tempuri.org/IService1/AddBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBus">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFoltFault">
        <soap:fault use="literal" name="NotFoundFoltFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundFoltFault">
        <soap:fault use="literal" name="NotFoundFoltFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCustTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPayment">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>