WCFProject_CE125_CE134/StarBus/Bus_Management_Client/Connected Services/ServiceReference1/Online_Bus_Ticket_Booking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Online_Bus_Ticket_Booking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Online_Bus_Ticket_Booking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival_time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Bus_no" type="xs:int" />
      <xs:element minOccurs="0" name="Dept_time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bus" nillable="true" type="tns:Bus" />
  <xs:complexType name="NotFoundFolt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotFoundFolt" nillable="true" type="tns:NotFoundFolt" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Arrival_time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="C_from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_to" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept_time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seat_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Total_seat" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Card_no" type="xs:int" />
      <xs:element minOccurs="0" name="Cvv" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
</xs:schema>